// =================================================================
// 	Mediapreview
// 	Base
// =================================================================

html {
	font-size: 1.1em;
}

body {
	@include transition(all 0.5s ease-in-out);
	position: relative;

	&.is-exiting {
		background: #fff;
	}
}
